In [6]:
import numpy as np
import pandas as pd
import os

In [7]:
table1=pd.DataFrame({"PID":(1,2,3,4,5,6,7,8),
                    "gender":("male","male","female","female","female","male","female","male"),
                    "height":(71,73,64,64,66,69,62,72),
                    "weight":(175,225,130,125,165,160,115,250)})
table1

   PID  gender  height  weight
0    1    male      71     175
1    2    male      73     225
2    3  female      64     130
3    4  female      64     125
4    5  female      66     165
5    6    male      69     160
6    7  female      62     115
7    8    male      72     250

In [8]:
table2=pd.DataFrame({"PID":(1,2,4,5,7,8,9,10),
                    "sex":("male","male","female","female","female","male","male","female"),
                    "visits":(1,2,4,12,2,2,1,1),
                    "checkup":(1,1,1,1,1,1,0,0),
                    "followup":(0,0,1,2,0,0,0,0),
                    "illness":(0,0,2,7,1,1,0,0),
                    "surgery":(0,0,0,2,0,0,0,0),
                    "ER":(0,1,0,0,0,0,1,1)})
table2

   PID     sex  visits  checkup  followup  illness  surgery  ER
0    1    male       1        1         0        0        0   0
1    2    male       2        1         0        0        0   1
2    4  female       4        1         1        2        0   0
3    5  female      12        1         2        7        2   0
4    7  female       2        1         0        1        0   0
5    8    male       2        1         0        1        0   0
6    9    male       1        0         0        0        0   1
7   10  female       1        0         0        0        0   1

In [10]:
combined1=pd.merge(table1,     #First table to be joined
                  table2,      #Second table to be joined
                  how="inner", #Merge method
                  on="PID")    #Columns to join
combined1

,PID,gender,height,weight,sex,visits,checkup,followup,illness,surgery,ER
0,1,male,71,175,male,1,1,0,0,0,0
1,2,male,73,225,male,2,1,0,0,0,1
2,4,female,64,125,female,4,1,1,2,0,0
3,5,female,66,165,female,12,1,2,7,2,0
4,7,female,62,115,female,2,1,0,1,0,0
5,8,male,72,250,male,2,1,0,1,0,0

In [12]:
left_join=pd.merge(table1,   #First table to be joined
                  table2,    #First table to be joined
                  how="left",#Merge method
                  on="PID")  #Columns to join
left_join

,PID,gender,height,weight,sex,visits,checkup,followup,illness,surgery,ER
0,1,male,71,175,male,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73,225,male,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64,125,female,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66,165,female,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62,115,female,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72,250,male,2.0,1.0,0.0,1.0,0.0,0.0

In [13]:
right_join=pd.merge(table1,   #First table to be joined
                  table2,    #First table to be joined
                  how="right",#Merge method
                  on="PID")  #Columns to join
right_join

,PID,gender,height,weight,sex,visits,checkup,followup,illness,surgery,ER
0,1,male,71.0,175.0,male,1,1,0,0,0,0
1,2,male,73.0,225.0,male,2,1,0,0,0,1
2,4,female,64.0,125.0,female,4,1,1,2,0,0
3,5,female,66.0,165.0,female,12,1,2,7,2,0
4,7,female,62.0,115.0,female,2,1,0,1,0,0
5,8,male,72.0,250.0,male,2,1,0,1,0,0
6,9,NaN,NaN,NaN,male,1,0,0,0,0,1
7,10,NaN,NaN,NaN,female,1,0,0,0,0,1

In [14]:
outer_join=pd.merge(table1,   #First table to be joined
                  table2,    #First table to be joined
                  how="outer",#Merge method
                  on="PID")  #Columns to join
outer_join

,PID,gender,height,weight,sex,visits,checkup,followup,illness,surgery,ER
0,1,male,71.0,175.0,male,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73.0,225.0,male,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64.0,125.0,female,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66.0,165.0,female,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62.0,115.0,female,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72.0,250.0,male,2.0,1.0,0.0,1.0,0.0,0.0
8,9,NaN,NaN,NaN,male,1.0,0.0,0.0,0.0,0.0,1.0
9,10,NaN,NaN,NaN,female,1.0,0.0,0.0,0.0,0.0,1.0

In [19]:
table1.rename(columns={"gender":"sex"},inplace=True)#Rename "gender column"
combined2=pd.merge(table1,         #First data frame            
                  table2,          #Second data frame
                  how="outer",     #Merge method
                  on=["PID","sex"]) #Columns to join
combined2

,PID,sex,height,weight,visits,checkup,followup,illness,surgery,ER
0,1,male,71.0,175.0,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73.0,225.0,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64.0,125.0,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66.0,165.0,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62.0,115.0,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72.0,250.0,2.0,1.0,0.0,1.0,0.0,0.0
8,9,male,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0
9,10,female,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0